@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;0,800;1,400&display=swap');

body {
  font-family: 'Vollkorn', serif;
  padding: 0;
  margin: 0;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
}

.header,
.hero,
footer {
  background-color: #1f2937;
}

.header-container {
  width: 75%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;

  display: flex;
  align-items: center;
}

.header-logo img {
  height: 50px;
  width: 50px;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 18px;
}

.header-nav a {
  text-decoration: none;
  font-size: 18px;
}

.header-nav a,
.hero-subtext {
  color: #e5e7eb;
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
}

.hero-container {
  width: 75%;
  min-height: 400px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin-bottom: 25px;
}

.hero-subtext {
  margin-bottom: 20px;
}

.hero-img {
  width: 400px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn-main {
  background-color: #3882f6;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 25px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}
